<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="" defaultHref="new-loan"></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button routerLink="/home-page">
        Cancel
      </ion-button>
    </ion-buttons>
    <ion-title *ngFor="let i of person;">{{i.name}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngFor="let i of person;">
    <div class="img-wrapper">
      <ion-avatar>
        <img [src]="i.avatarUrl" alt="">
      </ion-avatar>
    </div>

    <div id="user-info">
      <ion-label>
        <h2>{{i.name}}</h2>
        <p>{{i.username}}</p>
      </ion-label>
    </div>
  </div>

  <ion-item-divider>
    <ion-label class="section-divider">Choose Your Type of Loan</ion-label>
  </ion-item-divider>

  <ion-list>
    <ion-item routerLink="loan-type-long" detail>
      <ion-label>
        <h2>Long Term Loan</h2>
        <p>Better for larger loans payed in installments</p>
      </ion-label>
    </ion-item>
    <p></p>
    <ion-item routerLink="loan-type-short" detail>
      <ion-label>
        <h2>Short Term Loan</h2>
        <p>Basically, a reminder</p>
      </ion-label>
    </ion-item>
  </ion-list>

</ion-content>