<ion-item *ngFor="let i of dummyYou;" routerLink="loans-person-id">
  <ion-avatar slot="end">
    <img [src]="i.avatarUrl">
  </ion-avatar>
  <ion-label>
    <h2>{{i.personName}}</h2>
    <p id="outstanding-loans">Loans: <span id="loan-count">{{i.loanCount}}</span></p>
    <p id="total-balance">Total balance You owe: <span id="total-balance-span">${{i.totalBalanceOwed}}</span></p>
  </ion-label>
</ion-item>

<div *ngIf="people">
  <ion-item *ngFor="let i of dummyPeople;" routerLink="loans-person-id">
    <ion-avatar slot="end">
      <img [src]="i.avatarUrl">
    </ion-avatar>
    <ion-label>
      <h2>{{i.personName}}</h2>
      <p id="outstanding-loans">Loans: <span id="loan-count">{{i.loanCount}}</span></p>
      <p id="total-balance">Total balance owed You: <span id="total-balance-span">${{i.totalBalanceOwed}}</span></p>
    </ion-label>
  </ion-item>
</div>