#recieved { 
    color: var(--ion-color-success-shade); 
    }
#sent {
    color: var(--ion-color-danger);
}
p { 
    color: var(--ion-color-medium-shade); 
  }

#timeSent {
    padding-bottom: 10px;
}

ion-label > p, h2, h3 {
    padding: 3px 0;
}

ion-avatar {
    height: 55px;
    width: 55px;
}