
ion-card-content {
    padding-left: 5px;
}

h2 { 
    color: var(--ion-color-success-shade); 
    }
p { 
    color: var(--ion-color-medium-shade); 
  }

#timeSent {
    padding-bottom: 10px;
}

ion-avatar {
    height: 55px;
    width: 55px;
}

ion-label > p, h2, h3 {
    padding: 3px 0;
}