<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-buttons slot="primary">
      <ion-button routerLink="/new-loan">
        <ion-icon slot="icon-only" name="create-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Home</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  
  <ion-header>
    <ion-toolbar>
      <ion-title>Recent Activity</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-list>
    <div *ngFor="let i of dummyNotifications;">
      <ion-item *ngIf="i.name === 'You'">
        <ion-avatar slot="start">
          <img [src]="i.avatarUrl">
        </ion-avatar>
        <ion-label>
          <p>You sent {{i.recipient}}</p>
          <h2 id="sent"><span>-</span>${{i.amount}}</h2>
          <h3>for {{i.loanName}}</h3>
          <p id="timeSent">{{i.timeSent | date:'short'}}</p>
          <span>
            <ion-icon name="heart-outline"></ion-icon>
            <span>
              <ion-icon style="padding-left: 10px;" name="chatbox-outline"></ion-icon>
            </span>
          </span>
        </ion-label>
      </ion-item>
      <ion-item *ngIf="i.name != 'You'">
        <ion-avatar slot="start">
          <img [src]="i.avatarUrl">
        </ion-avatar>
        <ion-label>
          <p>{{i.name}} sent You</p>
          <h2 id="recieved"><span>+</span> ${{i.amount}}</h2>
          <h3>for {{i.loanName}}</h3>
          <p id="timeSent">{{i.timeSent | date:'short'}}</p>
          <span>
            <ion-icon name="heart-outline"></ion-icon>
            <span>
              <ion-icon style="padding-left: 10px;" name="chatbox-outline"></ion-icon>
            </span>
          </span>
        </ion-label>
      </ion-item>
    </div>
  </ion-list>

</ion-content>