<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Loans</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-header id="segment-header">
    <ion-toolbar>
      <ion-segment (ionChange)="segmentChanged($event)">
        <ion-segment-button value="People">
          <ion-label>People</ion-label>
        </ion-segment-button>
        <ion-segment-button value="bookmark">
          <ion-label>Category</ion-label>
        </ion-segment-button>
      </ion-segment>
    </ion-toolbar>
  </ion-header>

  <div *ngIf="people">
    <ion-item *ngFor="let i of dummyPeople;" routerLink="loans-person-id">
      <ion-avatar slot="end">
        <img [src]="i.avatarUrl">
      </ion-avatar>
      <ion-label>
        <h2>{{i.name}}</h2>
        <p>{{i.username}}</p>
        <p id="total-balance">Total Balance Owed You <span id="total-balance-span">${{i.totalBalanceOwed}}</span></p>
      </ion-label>
    </ion-item>
  </div>

</ion-content>