#total-balance, #outstanding-loans {
    color: black;
}

#loan-count {
    color: var(--ion-color-secondary);
}

#total-balance-span {
    color: #eb445a;
}

ion-label > p, h2 {
    padding: 3px 0;
}

ion-segment {
    width: 100%;
    margin: 8px;
}