
#total-balance-span {
    color: var(--ion-color-secondary);
}

#current-loan-balance {
    color: #eb445a;
}

p {
    color: var(--ion-color-dark-tint);
}

ion-label > p, h2, h3 {
    padding: 3px 0;
}

.loan-span {
    color: var( --ion-color-light-contrast);
}

.section-divider {
    padding-left: 8px !important;
    background: whitesmoke;
}

ion-avatar {
    height: 55px;
    width: 55px;
}