<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="" defaultHref="active-loans"></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="primary">
      <ion-button (click)="presentActionSheetUserOptions()">
        <ion-icon slot="icon-only" ios="ellipsis-horizontal" md="ellipsis-vertical"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title *ngFor="let i of person;">{{i.name}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <div *ngFor="let i of person;">
    <div class="img-wrapper">
      <ion-avatar>
        <img [src]="i.avatarUrl" alt="">
      </ion-avatar>
    </div>

    <div id="user-info">
      <ion-label>
        <h2>{{i.name}}</h2>
        <p>{{i.username}}</p>
      </ion-label>

    </div>

    <div class="friends-container">
      <div id="friends">
        <ion-chip outline="true" color="primary">
          <ion-icon name="checkmark-outline" color="primary"></ion-icon>
          <ion-label color="primary">Friends</ion-label>
        </ion-chip>
      </div>
      <ion-button expand="block" id="pay-request-btn" (click)="presentActionSheetPayCreateOptions()">
        Pay or Create Loan
      </ion-button>
    </div>

  </div>

  <ion-toolbar id="segment-filter">
    <ion-segment [(ngModel)]="segment">
      <ion-segment-button value="Payments">
        <ion-label>Payments</ion-label>
      </ion-segment-button>
      <ion-segment-button value="Loans">
        <ion-label>Loans</ion-label>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>

  <div [ngSwitch]="segment">
    <app-loans-person-id-payments *ngSwitchCase="'Payments'"></app-loans-person-id-payments>
  </div>

</ion-content>